#play-area{
    margin: 0 auto;
    min-width: 300px;
    min-height: 300px;
    padding: 0px;
}
.mt-5{
    margin-top:3rem !important;
}
#simon-machine{
    border-radius:50%;
    background-color: black;
}
#red{
    background-color: red;
    border-top-left-radius: 100%;
}
#green{
    background-color: green;
    border-top-right-radius:100%;
}
#yellow{
    background-color: yellow;
    border-bottom-right-radius: 100%;
}
#blue{
    background-color: blue;
    border-bottom-left-radius: 100%;
}
#buttons-container{
    height: 70%;
    border-radius:50%;
    position: absolute;
}
#middle-circle-container{
    position:absolute;
}
#middle-circle{
    border-radius:50%;
    margin:0 auto;
    background-color:black;
    z-index:4;
    position:relative;
}
#display-and-buttons-container{
    border-radius:50%;
    position:absolute;
    z-index:5;
    background-color:silver;
}
.gameButton{
    display: block;
    position: absolute;
}
#on-slider-container{
    background-color:cadetblue;
}
#on-slider{
    width:50%;
    height:100%;
    background-color:black;
    color:darkgrey;
    text-align:center;
}
.game-turned-on{
    float:right;
}
#start-button-container,#strict-button-container{
    position:absolute;
    z-index:7;
}
button{
    background-color:green;
    border-radius:50%;
    position:relative;
    margin-top:3px;
}
button:focus{
    outline:0;
}
#on-off-section{
    position:absolute;
    z-index:8;
}
#display-container{
    background-color:black;
    position:absolute;
    border: 1.5px solid darkgrey;
    z-index:6;
}
#strict-btn{
    background-color:yellow;
}
#strict-indicator{
    background-color: black;
    border: 1.5px solid darkgrey;
    border-radius: 50%;
    position:absolute;
}



@media (min-width:550px){
    #play-area{
        width: 500px;
        height: 500px;
    }
    #simon-machine{
        height: 100%;
        width: 500px;
    }
    .gameButton{
        height: 220px;
        width: 220px;
    }
    #middle-circle{
        width:220px;
        height:220px;
    }
    #red{
        top:20px;
        left:20px;
    }
    #blue{
        top:260px;
        left:20px;
    }
    #yellow{
        top:260px;
        left:260px;
    }
    #green{
        top:20px;
        left:260px;
    }
    #middle-circle-container{
        top: 140px;
        left: 140px;
    }
    #display-and-buttons-container{
        width:180px;
        height:180px;
        top:20px;
        left:20px;
    }
    button{
        width:20px;
        height:20px;
        margin-left:3px;
    }
    #start-button-container{
        top:10px;
        left:60px;
    }
    #strict-button-container{
        top: 60px;
        left: 120px;
    }
    #strict-indicator{
        height: 10px;
        width: 10px;
        left:30px;
        top: 21px;
    }
    #on-slider-container{
        height:21px;
        width:70px;
    }
    #on-off-section{
        top:125px;
        left:55px;
    }
    #display-container{
        height: 65px;
        width: 65px;
        top:52px;
        left:17px;
    }
}
@media (max-width: 549px){
    #play-area{
        width:300px;
        height:300px;
    }
    #simon-machine{
        height: 100%;
        width:300px;
    }
    .gameButton{
        height: 132px;
        width:132px;
    }
    #middle-circle{
        width:132px;
        height:132px;
    }
    #red{
        top:12px;
        left: 12px;
    }
    #blue{
        left:12px;
        top:155px;

    }
    #yellow{
        top:155px;
        left:155px;

    }
    #green{
        top:12px;
        left:155px;
    }
    #middle-circle-container{
        top:84px;
        left:84px;
    }
    #display-and-buttons-container{
        width:108px;
        height:108px;
        top:12px;
        left:12px;
    }
    button{
        width:15px;
        height:15px;
        float:right;
        margin-left:5px;
        margin-top:2px;
    }
    #start-button-container{
        top:8px;
        left:30px;
    }
    #strict-button-container{
        top: 27px;
        left: 60px;
    }
    #strict-indicator{
        height: 8px;
        width: 8px;
        left:25px;
        top: 21px;
    }
    #strict-btn{
        float:left;
    }
    #on-slider-container{
        height:12px;
        width:54px;
        font-size:50%;
    }
    #on-off-section{
        top:68px;
        left:27px;
        width:60px;
    }
    #display-container{
        height: 35px;
        width: 35px;
        top:30px;
        left:10px;
    }
}
